<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgj.dao.PAuthorMapper">
  <resultMap id="BaseResultMap" type="com.lgj.entity.PAuthor">
    <id column="author_id" jdbcType="INTEGER" property="author_id" />
    <result column="author_name" jdbcType="VARCHAR" property="author_name" />
    <result column="author_sex" jdbcType="VARCHAR" property="author_sex" />
    <result column="author_phone" jdbcType="VARCHAR" property="author_phone" />
    <result column="author_address" jdbcType="VARCHAR" property="author_address" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from p_author
    where author_id = #{author_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lgj.entity.PAuthor">
    insert into p_author (author_id, author_name, author_sex, 
      author_phone, author_address)
    values (#{author_id,jdbcType=INTEGER}, #{author_name,jdbcType=VARCHAR}, #{author_sex,jdbcType=VARCHAR}, 
      #{author_phone,jdbcType=VARCHAR}, #{author_address,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lgj.entity.PAuthor">
    update p_author
    set author_name = #{author_name,jdbcType=VARCHAR},
      author_sex = #{author_sex,jdbcType=VARCHAR},
      author_phone = #{author_phone,jdbcType=VARCHAR},
      author_address = #{author_address,jdbcType=VARCHAR}
    where author_id = #{author_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select author_id, author_name, author_sex, author_phone, author_address
    from p_author
    where author_id = #{author_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select author_id, author_name, author_sex, author_phone, author_address
    from p_author
  </select>
</mapper>